@import 'classes';
@import 'mixins';

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    @extend %w-full;
    @extend %h-full;
}

body {
    @extend %w-full;
    @extend %h-full;
    .calculator {
        @extend %flex;
        @include f-direction(column);
        @extend %w-full;
        @extend %h-full;
        input {
            @extend %w-full;
            @include height_custom(20vh);
            font-size: 4em;
            text-align: right;
        }
        .keyboard-number {
            @extend %w-full;
            @include height_custom(80vh);
            @extend %flex;
            @include f-direction(column);
            .buttons {
                @extend %flex;
                @include f-direction(row);
                @include a-flex(justify-content, space-between);
                height: (90vh / 4);
                button {
                    text-align: center;
                    font-size: 1em;
                    border: .3px solid black;
                    @include width_custom(25%);
                    &.operator {
                        background-color: orangered;
                        color: white;
                    }
                    &.clear, &.point {
                        background-color: gray;
                        color: white;
                    }
                    &.number {
                        background-color: rgba(0,0,0,.2);
                    }
                    &.calculate {
                        background-color: whitesmoke;
                    }
                }
                &:nth-child(5) {
                    button:nth-child(2) {
                        flex-grow: 2;
                    }
                }
                &:nth-child(1) {
                    button:nth-child(1) {
                        flex-grow: 2;
                    }
                }
            }
        }
    }
}